<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.demos_song"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Demos"
            android:label="@string/title_activity_demos" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".graphics.TouchDraw" />
        <activity android:name=".anims.ViewFlipperDemos" />
        <activity android:name=".text.SpannableText" />
        <activity android:name=".text.FreezesText" />
        <activity android:name=".bluetooth.BluetoothChat" />
        <activity android:name=".text.HtmlText" />

        <service android:name=".bluetooth.BluetoothChatService" />

        <activity
            android:name=".bluetooth.DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".widgets.FragmentPager" />
        <activity android:name=".graphics.FlipTextViewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".graphics.FlipImageViewActivity" android:screenOrientation="portrait"></activity>
        <activity android:name=".widgets.Flashlight" android:screenOrientation="portrait"></activity>
        <activity android:name=".afinal.TestAfinalActivity" android:screenOrientation="portrait"></activity>
    </application>

</manifest>